{% extends 'blog/base.html' %}
{% load static %}
{% block title %} {{ post.title }}:僕のブログ {% endblock %}
{% block stripe-js %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pay-stripe.css' %}">
<h1>{{ post.title }}</h1>
{{ post.formatted_markdown|safe |truncatechars:200 }}

<!-- 課金　カード決済 -->
<div style="width:300px;font-size:0.8em;background-color:#eeeeee;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;">
<h4>{{ post.price }}円（税込）払って続きを読む</h4>
<form method="post" id="payment-form">
{% csrf_token %}
    <div class="form-row inline">
        <div class="col">
            <label for="card-element">
            Credit or debit card
            </label>
            <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
            </div>
        </div>
        <div class="col">
        <label for="email">
        Email Address
        </label><br>
        <input id="email" name="input_mail"  type="email" placeholder="〇○@example.com"  required>
        <!-- id=は決済用のメール登録に、 name=はDB記録用 -->
    </div>
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
  <br>
  <button>決済する</button>
</form>
</div>
<!-- 過去購入履歴のチェック -->

<hr>
<div style="font-size:0.6em">
作成日： {{ post.created_datetime }}
<br>
更新日： {{ post.updated_datetime }}
</div>
<hr>
<script type="text/javascript" src="{% static 'js/pay-stripe.js' %}"></script>
{% endblock %}